<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811018333400-8bga50vjb9kt1v0785lhrmctojl67mod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811018333400-8bga50vjb9kt1v0785lhrmctojl67mod</string>
	<key>API_KEY</key>
	<string>AIzaSyA-H6pfWPn3cswukH6X4bLB_ny1wiH6ROo</string>
	<key>GCM_SENDER_ID</key>
	<string>811018333400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireapp</string>
	<key>PROJECT_ID</key>
	<string>firedetection-3880a</string>
	<key>STORAGE_BUCKET</key>
	<string>firedetection-3880a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811018333400:ios:1db0549e15747b1d6d7bad</string>
</dict>
</plist>